.busca-pessoa-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(105, 18, 18, 0.1);
    padding: 20px;
    width: 300px;
    margin: 10px;
}
