/* Estilização geral do corpo da pagina */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão do texto como Arial ou, caso não esteja disponível, sans-serif  */ 
    background-color: #da9fc8; /* Define a cor de fundo do corpo da página com algum tom de cor  */
    margin: 0; /* Remove a margem padrão do corpo  */
    padding: 0; /* Remove o preenchimento padrão do corpo */
}

/*Estilizando posição das divs da pagina html através de um conteiner que engloba todas elas*/
.layout-geral {
    display: flex; /* Ativa o layout flexbox */
    flex-direction: row; /* Organiza os itens na horizontal */
    gap: 20px; /* Adiciona espaço entre as divs */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha os itens pelo topo */
    padding: 20px; /* Espaço ao redor do contêiner */
}

/*!!! Estiliza o formulário para usar o layout flexbox e organiza os elementos internos em coluna !!! */
form {
    display: flex; /* Define o layout do formulário como flexbox */
    flex-direction: column; /* Isso vai alinhar os elementos em coluna */
}

/* Container do formulário para salvar pessoa */
.form-salvar-pessoa {
    width: 200px; /* Define a largura maxima para 600px */
    margin: 50px auto; /* Adiciona uma margem superior/inferior de 50px e centraliza horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno de 20px */
    background-color: #f7f7f7; /* Define um fundo claro para o formulário */
    border-radius: 8px; /* Arredonda os cantos do formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve ao redor do formulário */
}

/*Regra de estilo aplicada para o container de buscar por id*/
.form-buscar_por_id {
    width: 200px; /* Configura a largura máxima para 600px */
    margin: 50px auto; /* Adiciona espaço acima/abaixo e centraliza horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno de 20px */
    background-color: #f7f7f7; /* Define um fundo claro para o formulário */
    border-radius: 8px; /* Arredonda os cantos do formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve ao redor do formulário */
}

/*Regra de estilo aplicada ao card onde os dados da pessoa procurada vão ser mostrados*/
.form-busca-pessoa-id {
    background-color: #c449af; /* Define uma cor de fundo para o formulário  */
    border: 1px solid #ddd; /* Bordas cinzas claras */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(105, 18, 18, 0.1); /* Sombra mais escura  */
    padding: 20px; /* Espaço interno de 20px */
    width: 150px; /* Define largura do formulário como 150px */
    margin: 10px; /* Adiciona espaço em volta do formulário */
}

/*Regra de estilo aplicada ao botão utilizado para realizar a busca por ID */
.btn_buscar_por_id {
    width: 200px; /* Define a largura maxima como 600px */
    margin: 50px auto;/* Centraliza horizontalmente e adicione margem vertical de 50px */
    padding: 20px; /* Espaço interno de 20px  */
    background-color: #f7f7f7;/* Fundo claro */
    border-radius: 8px; /* Cantos arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);/* Sombra leve */
}

/*Regra de estilo aplicada para o container de alterar cadastro*/
.form-alterar_pessoa{
    width: 200px; /* Define a largura maxima para 600px */
    margin: 50px auto; /* Adiciona uma margem superior/inferior de 50px e centraliza horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno de 20px */
    background-color: #f7f7f7; /* Define um fundo claro para o formulário */
    border-radius: 8px; /* Arredonda os cantos do formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve ao redor do formulário */
}

/*Regra de estilo aplicada ao botão utilizado para realizar a alteração*/
.btn_alterar{
    width: 200px; /* Define a largura maxima como 600px */
    margin: 50px auto;/* Centraliza horizontalmente e adicione margem vertical de 50px */
    padding: 20px; /* Espaço interno de 20px  */
    background-color: #f7f7f7;/* Fundo claro */
    border-radius: 8px; /* Cantos arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);/* Sombra leve */
}

/*Regra de estilo aplicada para o container de excluir cadastro*/
.form-excluir_pessoa{
    width: 200px; /* Define a largura maxima como 600px */
    margin: 50px auto; /* Centraliza horizontalmente e adicione margem vertical de 50px */
    padding: 20px; /* Espaço interno de 20px  */
    background-color: #f7f7f7; /* Fundo claro */
    border-radius: 8px; /* Cantos arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/*Regra de estilo aplicada ao botão utilizado para realizar a exclusão*/
.btn_excluir {
    width: 200px; /* Define a largura maxima como 600px */
    margin: 50px auto; /* Centraliza horizontalmente e adicione margem vertical de 50px */
    padding: 20px; /* Espaço interno de 20px  */
    background-color: #f7f7f7; /* Fundo claro */
    border-radius: 8px; /* Cantos arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}
