body{
    font-family: Arial, sans-serif; /* definindo fonte padrão do corpo da página */
    margin: 100; /* Remove margens padrão */
    padding: 0; /* Remove espaçamento padrão */
    background-color: #cf5b17; /* Define uma cor de fundo clara */
    color: #fcfcfc; /* Define a cor padrão do texto */
}

/*Adicionando um container centralizado na página*/
.container{
    max-width: 800px; /* define a largura máxima  do container */
    margin: 20px auto; /* Centraliza horizontalmente com espaçamento vertical */
    padding: 20px; /* Adiciona espaçamento interno */
    background: #fcfafa; /* Define o fundo branco */
    border-radius: 8px; /* Arredonda os cantos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

/* Estilização do titulo que está marcada com a class "titulo-lista" no formulário HTML (está definido na classe HTML) */
.titulo-lista {
    text-align: center; /* Centraliza o título */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #050505; /* Define uma cor mais escura para o titulo */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do titulo */
}


/*o titulo da REGRA DE ESTILO abaixo possui ligação direta com a class do titulo h2 no formulário html*/
.titulo-formulario {
    text-align: left; /* Centraliza o titulo */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #fafafa; /* Define uma cor para o titulo  */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do titulo */
}

/* Lista de pessoas */
.pessoas-list{
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno */
    margin: 0; /* Remove margens */
}

/* Estilização de cada item da lista */
.pessoas-list li{
    background: #cf5b17; /* Fundo claro para os itens */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    padding: 10px 15px; /* Espaçamento interno nos itens */
    border-radius: 5px; /* Arredonda os cantos dos itens */
    border: 1px solid #0e0d0c;
    transition: background-color 0.3 ease; /* suaviza mudança de cor no hover */
   /* !!!!! definindo cor das LETRAS dos DADOS no container !!!!! */
    color: rgb(7, 6, 6);
}

/* Efeito ao passar o mouse sobre os itens */
.pessoas-list li:hover{
    background: #ce7e3d; /* muda o fundo ao passar o mouse */
}

/* Mensagem de carregamento ou erro */
.pessoas-list li:first-child {
    text-align: left; /* Centraliza a mensagem */
    font-style: italic; /* Adiciona estilo itálico */
}
