body{
    font-family: Arial, sans-serif; /* definindo fonte padrão do corpo da página */
    margin: 100; /* Remove margens padrão */
    padding: 0; /* Remove espaçamento padrão */
    background-color: #da9fc8; /* Define uma cor de fundo clara */
    color: #fcfcfc; /* Define a cor padrão do texto */
}

/*Adicionando um container centralizado na página*/
.container{
    max-width: 800px; /* define a largura máxima  do container */
    margin: 20px auto; /* Centraliza horizontalmente com espaçamento vertical */
    padding: 20px; /* Adiciona espaçamento interno */
    background: #fcfafa; /* Define o fundo branco */
    border-radius: 8px; /* Arredonda os cantos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

/* Estilização do titulo que está marcada com a class "titulo-lista" no formulário HTML (está definido na classe HTML) */
.titulo-lista {
    text-align: center; /* Centraliza o título */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #da0d84; /* Define uma cor mais escura para o titulo */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do titulo */
}


/*o titulo da REGRA DE ESTILO abaixo possui ligação direta com a class do titulo h2 no formulário html*/
.titulo-formulario {
    text-align: left; 
    font-size: 24px; 
    color: #fafafa; 
    margin-bottom: 20px; 
}

/* Lista de pessoas */
.pessoas-list{
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno */
    margin: 0; /* Remove margens */
}

/* Estilização de cada item da lista */
.pessoas-list li{
    background: #d475a9; /* Fundo claro para os itens */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    padding: 10px 15px; /* Espaçamento interno nos itens */
    border-radius: 5px; /* Arredonda os cantos dos itens */
    border: 1px solid #da0d84;
    transition: background-color 0.3 ease; /* suaviza mudança de cor no hover */
    color: rgb(0, 0, 0);
}

/* Efeito ao passar o mouse sobre os itens */
.pessoas-list li:hover{
    background: #b10e52; /* muda o fundo ao passar o mouse */
}

/* Mensagem de carregamento ou erro */
.pessoas-list li:first-child {
    text-align: left; /* Centraliza a mensagem */
    font-style: italic; /* Adiciona estilo itálico */
    
    /* !!!!! definindo cor das LETRAS dos DADOS no container !!!!! */
    color: #f7eded /* Define uma cor mais clara */
}
