
.navegacao-btn {
    display: inline-block; /* Faz o link funcionar como um botão */
    padding: 12px 20px; /* Adiciona espaçamento interno */
    background-color: #4d0747; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
    font-weight: bold; /* Texto em negrito */
    border-radius: 8px; /* Arredonda os cantos */
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center; /* Centraliza o texto */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza transições */
}

.navegacao-btn:hover {
    background-color: #d475a9; /* Cor do botão quando passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

.navegacao-btn:active {
    background-color: #b10e52; /* Cor do botão quando clicado */
    transform: scale(1); /* Retorna ao tamanho original */
}
